<html>
    <body>
        EJS Page
        <%=msg%>
        <%=courses%>
        <ul>
            <% courses.forEach((item)=>{%>
               <li><%=item%></li>

            <%})%>
        </ul>

    </body>
</html>